{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}


    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.year }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div {{ stimulus_controller('modal-form') }}>

    <a href="{{ path('app_book_new') }} " data-bs-toggle="modal" data-bs-target="#exampleModal" data-action="modal-form#openModal">Create new</a>

    {{ include('_modal.html.twig', {
        modalTitle: 'Add a new Book',
        modalSrc: path('app_book_new'),
        id: 'book-info',
    }) }}
</div>

{% endblock %}
